extends layout

block content
	div.toolbar
		input(id='activateBtn' type='button' value='Activate')
		input.hidden(id='stopBtn' type='button' value='Stop')
		label.right 
			span Session: 
			span.bold#activeLbl
	video


